@charset 'UTF-8';

.user-lotto-row{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid rgb(155, 154, 154);
  padding: 5px;
}

.user-ball-item {
  display: flex;
  gap: 40px;
  padding: 3px;
}

.user-ball {
  width: 95px;
  height: 95px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-lotto-rank{
  margin:0 auto;
}

.user-lotto-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}