@charset 'UTF-8';

.header {
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 15px 2px rgba(182, 181, 181, 0.733);
}

.login-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.login-box select {
  padding: 10px;
  font-size: 15px;
  min-width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button {
  min-width: 70px;
  min-height: 42px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
}

.selected-user p {
  font-size: 20px;
  font-weight: bold;
}
